<!DOCTYPE html>
<html class="no-js">
    <head>
        <!-- Basic Page Needs
        ================================================== -->
        <meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="icon" type="image/png" href="images/favicon.png">
        <title>SRS RAFFLE</title>
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="author" content="">
        <!-- Mobile Specific Metas
        ================================================== -->
        <meta name="format-detection" content="telephone=no">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <!-- Template CSS Files
        ================================================== -->
        <!-- Twitter Bootstrs CSS -->
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/font-awesome.min.css">
        <!-- Ionicons Fonts Css -->
        <link rel="stylesheet" href="css/ionicons.min.css">
        <!-- animate css -->
        <link rel="stylesheet" href="css/animate.css">
        <!-- Hero area slider css-->
        <link rel="stylesheet" href="css/slider.css">
        <!-- owl craousel css -->
        <link rel="stylesheet" href="css/owl.carousel.css">
        <link rel="stylesheet" href="css/owl.theme.css">
        <link rel="stylesheet" href="css/jquery.fancybox.css">
        <!-- template main css file -->
        <link rel="stylesheet" href="css/main.css">
        <!-- responsive css -->
        <link rel="stylesheet" href="css/responsive.css">
        
        <!-- Template Javascript Files
        ================================================== -->
        <!-- modernizr js -->
        <script src="js/vendor/modernizr-2.6.2.min.js"></script>
        <!-- jquery -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <!-- owl carouserl js -->
        <script src="js/owl.carousel.min.js"></script>
        <!-- bootstrap js -->

        <script src="js/bootstrap.min.js"></script>
        <script src="js/bootbox.min.js"></script>
        <!-- wow js -->
        <script src="js/wow.min.js"></script>
        <!-- slider js -->
        <script src="js/slider.js"></script>
        <script src="js/jquery.fancybox.js"></script>
        <!-- template main js -->
        <script src="js/main.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    </head>
    <body>
        <!--
        ==================================================
        Header Section Start
        ================================================== -->
        <header id="top-bar" class="navbar-fixed-top animated-header">
            <div class="container">
                <div class="navbar-header">
                    <!-- responsive nav button -->
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                    <!-- /responsive nav button -->
                    
                    <!-- logo -->
                    <div class="navbar-brand">
                        <a href="/srs-raffle" >
                            <img src="images/logo.jpg" alt="" height = "80px" id = "image-logo" width = "200px" >
                        </a>
                    </div>
                    <!-- /logo -->
                </div>
                <!-- main menu -->
                <nav class="collapse navbar-collapse navbar-right" role="navigation">
                    <div class="main-menu">
                        
                    </div>
                </nav>
                <!-- /main nav -->
            </div>
        </header>

        <!-- 
        ================================================== 
            Global Page Section Start
        ================================================== -->
        <section class="global-page-header hide-no-customer">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="block">
                            <ol class="breadcrumb">
                                <li>
                                <i class="ion-ios-money"></i>
                                       And The Winner Is.!!
                                </li>
                            </ol>
                            <h1 id = "customer-code" customer-code=""><i class="fa fa-circle-o-notch fa-spin" style="font-size:24px"></i>
                            </h1>
                             <ol class="breadcrumb">
                                <li>
                                <i class="ion-ios-money"></i>
                                       <h1 id = "price-text"></h1>
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- 
        ================================================== 
            Company Description Section Start
        ================================================== -->
        <section class="company-description hide-no-customer">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 wow fadeInLeft" data-wow-delay=".3s" >
                        
                    </div>
                    <div class="col-md-6 wow fadeInLeft" data-wow-delay=".3s" >
                        
                    </div>
                    <div class="col-md-3 wow fadeInLeft" data-wow-delay=".3s" >
                        
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 wow fadeInLeft" data-wow-delay=".3s" >
                        
                    </div>
                    <div class="col-md-6 wow fadeInLeft" data-wow-delay=".3s" >
                        <div class="col-md-3 wow fadeInLeft" data-wow-delay=".3s" >
                        
                        </div>
                        <div class="col-md-6 wow fadeInLeft" data-wow-delay=".3s" >
                        <center><input style="text-transform:uppercase" type="text" placeholder="PRIZE" class="form-control" name="name" id="price"></center>
                        </div>
                        <div class="col-md-3 wow fadeInLeft" data-wow-delay=".3s" >
                        
                         </div>    
                    </div>
                    <div class="col-md-3 wow fadeInLeft" data-wow-delay=".3s" >
                        
                    </div>
                </div>
               
            </div>
        </section>

       


        <!-- 
        ================================================== 
            Team Section Start
        ================================================== -->
        <section id="team" style = "margin-top: 20px">
            <div class="container" id = "container-row">
                <div class="row">
                     <h2 id = "raffle-ended" class="subtitle text-center">Meet The Winners</h2>
                </div>
            </div>
        </section>
        <!--
        ==================================================
        Clients Section Start
        ================================================== -->
       
        
        <!--
        ==================================================
        Call To Action Section Start
        ================================================== -->
       
        <!--
        ==================================================
        Footer Section Start
        ================================================== -->
        <footer id="footer">
            <div class="container">
                <div class="col-md-8">
                    <p class="copyright">Copyright: <span>2017</span> . Design and Developed by <a href="http://www.Themefisher.com">SRS IT DEPARTMENT</a></p>
                </div>
                <div class="col-md-4"> </div>
            </div>
        </footer> <!-- /#footer -->
        
    </body>
    <script type = "text/javascript">
       $(document).ready(function(){
           var customer = $("#customer-code");
           var customer_list = [];
           var price = $("#price");
           var counter = 0;
           var myVar;
           var myVar2;
           var stop_change = true;
           var show_no_custom = $("#show-no-custom");
           var price_text = $("#price-text");
           var finish_music = false;
           var finish_music2 = false;
           var play_access = 0;
           var i = 0;
           function get_customer() {
            //show_no_custom.hide();
            price_text.html("");
            price.prop("disabled", true);
            $.get("get-customer", function(data) {
                price.val("");
                price.prop("disabled", false);
                customer_list = data;
                customer.html("<h1>KASUKI RAFFLE GIVEAWAY</h1>");
               
                $.get("get-customer-winners", function(data) {
                   $("#container-row").html("");
                   $.each(data, function( index, value ) {
                     var divs = "";
                     $.each(value, function( ind, val ) {
                        divs = divs + '<div class="col-md-3"> <div class="team-member wow fadeInLeft" data-wow-duration="500ms" data-wow-delay=".3s"> <div class="team-img"><h1 class="team_name">'+val.description+'</h1><h3>'+val.prize+'</h3></div> <p class="team_designation">'+val.customercode+'</p> <p class="team_text"></p> </div> </div>';
                     });
                     
                     $("#container-row").append('<div class="row customer-winner">' + divs + '</div>');
                   });
                });

            });
           }

           $("#image-logo").click(function() {
               event.preventDefault();
               if(i > 0) {
                 clearInterval(myVar2);
                 $('html, body').animate({ scrollTop: 0 }, "slow");
                 $(".customer-winner").css('opacity', 100);
                 i=0;
               } else {
                   $(".customer-winner").css('opacity', 0);
                   var customer_winner = $(".customer-winner");
                   var customer_length = $(".customer-winner").size();
                   loop(i, customer_winner, customer_length);
                   i++;
                   myVar2 = setInterval(function(){ 
                       loop(i, customer_winner, customer_length);
                       i++;
                    }, 5000);
               }
           });

           function loop(i, customer_winner, customer_length) {
            if(i != customer_length) {
             $(".customer-winner").eq(i).css('opacity', 100);
             var h = customer_winner.eq(i).offset().top -100;
             $('html, body').animate({ scrollTop: h }, "slow");
            }
           }

           $(document).on('click','.team_designation',function(){
                var customer_code = $(this).html();
                var customer_name = $(this).parent().find(".team_name").html();
                bootbox.confirm({
                    title: "Warning..!",
                    message: "You are to remove "+customer_name+" from the Winner List, Are you sure you want to Continue?",
                    buttons: {
                        confirm: {
                            label: 'Yes',
                            className: 'btn-success'
                        },
                        cancel: {
                            label: 'No',
                            className: 'btn-danger'
                        }
                    },
                    callback: function (result) {
                      if(result) 
                        $.post("remove-customer-winner-list", { customerCode: customer_code }, function(data) {
                           get_customer();
                        });
                    }
                });
            });

            price.keyup(function() {
              var price_val = price.val();
              price_text.html(price_val.toUpperCase());
            });
            
            var audioElement = document.createElement('audio');
            audioElement.setAttribute('src', 'sounds/intro.mp3');

            var audioElement2 = document.createElement('audio');
            audioElement2.setAttribute('src', 'sounds/winner.mp3');

            audioElement.addEventListener('ended', function() {
                audioElement.play();
            }, false);

            audioElement2.addEventListener('ended', function() {
                audioElement2.play();
            }, false);

            $(document).keypress(function(e) {
                if(e.which == 13) {
                    if(play_access == 0 ) {
                        if(price.val() != "") play_function();
                        else bootbox.alert("No Price Entered..!");
                    }
                    else if(play_access == 1) stop_function();
                    else raffle_function();
                }
            });


            function play_function() {
                play_access = 1;
                audioElement2.pause;
                audioElement2.currentTime = 0;
                audioElement.currentTime = 0;
                audioElement.play();
                myVar = setInterval(function(){ change() }, 75);
            }

            function stop_function() {
                play_access = 2;
                 clearInterval(myVar);
                myVar = setInterval(function(){ change() }, 1000 );    
                setTimeout( function() {
                    clearInterval(myVar);
                    change(true);
                    audioElement.pause();
                    audioElement.currentTime = 0;
                    audioElement2.currentTime = 0;
                    audioElement2.play();
                   var custom_code = customer.attr("customer-code");
                    var prize = price.val();
                    $.post("customer/", { customerCode: custom_code, prize: prize }, function(data) {
                        counter = 0;
                    });
                }, 5000);
            }

            function raffle_function() {
                play_access = 0;
                audioElement.pause();
                audioElement2.pause();
                audioElement.currentTime = 0;
                audioElement2.currentTime = 0;
                customer.attr("customer-code", "");
                customer.html('<i class="fa fa-circle-o-notch fa-spin" style="font-size:24px">');
                price.val("");
                get_customer();
            }

            function change(b = false) {
              //$.when( effect(), addText() ).done(function() {
                effect(); addText(b);
                counter++;
                if (counter >= customer_list.length - 1) counter = 0;
              //});
            }

            var addText = function(b = false) {
              if(!b) customer.html(customer_list[counter].description);
              else customer.html("<h1 style = 'text-decoration: underline;'>" + customer_list[counter].description + "</h1>");
            };

            var effect = function() {
              customer.attr("customer-code" , customer_list[counter].customercode);
            };

            get_customer();
        });
      </script>
</html>